<div class="container" style="margin:100px auto">
  <div class="row">
    <div class="col-6 offset-3">
      <h4>Modificar una novedad</h4>
      <form action="/admin/novedades/modificar" method="post" enctype="multipart/form-data">
        <input type="hidden" value="{{novedad.id}}" name="id">
        <div class="mb-3 text-end">
          {{#if error}}
          <label class="form-label">Novedad SIN CAMBIOS</label>
          {{else}}
          <label class="form-label">Fecha: {{novedad.dia}}/{{novedad.mes}}/{{novedad.anio}}</label>
          {{/if}}
        </div>
        <div class="mb-3">
          <label for="idtitulo" class="form-label">Título:</label>
          <input type="text" class="form-control rounded" id="idtitulo" name="titulo" value="{{novedad.titulo}}">
        </div>
        <div class="mb-3">
          <label for="idsubtitulo" class="form-label">Subtítulo:</label>
          <input type="text" class="form-control rounded" id="idsubtitulo" name="subtitulo"
            value="{{novedad.subtitulo}}">
        </div>
        <div class="mb-3">
          <label class="form-label">Imagen:</label><br>
          {{{imagen}}}</div>
        <div class="mb-3">
          <label for="imagen" class="form-label">Agregar o modificar imagen:</label>
          <input type="file" name="imagen" id="imagen" />
        </div>
        <div class="mb-3">                    
          <input type="checkbox" name="imgEliminar" id="checkEliminar" value=1 />
          <label for="checkEliminar" class="form-label">Tildar para eliminar la imagen de la novedad</label>          
          <input type="hidden" name="imgOriginal" value="{{novedad.img_id}}" />
        </div>
        <div class="mb-3">                    
          <label for="idcuerpo" class="form-label">Cuerpo:</label>
          <textarea class="form-control rounded" id="idcuerpo" rows="5" name="cuerpo">{{novedad.cuerpo}}</textarea>
        </div>
        <div class="text-end">
          {{#if error}}
          <button type="submit" class="btn btn-primary rounded-pill" disabled>Modificar</button>
          {{else}}
          <button type="submit" class="btn btn-primary rounded-pill">Modificar</button>

          {{/if}}
          <a class="btn btn-primary rounded-pill" href='/admin/novedades'>Cancelar</a>
        </div>
      </form>
      {{#if error}}
      <br>
      <h6 class="text-danger">{{message}}</h6>
      {{/if}}
    </div>
  </div>
</div>